---
layout: landing
---
<!-- Banner -->
<section id="banner">
	<div class="inner">
		<h2>RK FOOD</h2>
		<p>{{ site.description | markdownify }}</p>
	</div>
	<a class="more scrolly">Creations</a>
</section>

<!-- Pics -->

<section id="pics">
	
	{% assign pics = '' %}
	{% assign name_sorted_files = site.static_files | sort: "path" | reverse %}
	{% for file in name_sorted_files %}
	    {% assign fileName = file.path %}
	    {% if fileName contains 'images/IMG' %}
	        {% assign pics = pics | append: fileName %}
	        {% assign pics = pics | append: "|" %}
	    {% endif %}
	{% endfor %}
	
	<div class="row">
		<div class="lcolumn" id="col1"></div>
		<div class="column" id="col2"></div>
		<div class="column" id="col3"></div>
	</div>
	
	<script>
	let count = 0;
	let picsArray = "{{pics}}".split('|');
	picsArray.pop();
		
	for (let src of picsArray){
	    var chosenCol = "col" + (count % 3 + 1);
	    count = count + 1;
	    let parts = src.split('_');
	    let height = parts[5];
	    let width = parts[6].split('.')[0];
	    let aspectRatio = parseInt(height / width * 100);
	    
	    let containerId = 'container'+count;
	    let innerDivId = 'innerDiv'+count;
	    let containerItem = `<div class="container" id=${containerId}></div>`;
	    document.getElementById(chosenCol).innerHTML += containerItem
		
	    let greyBox = `<div id=${innerDivId} style="width: 10000px; background-color:#7f7f7f; max-width:100%; padding-top:${aspectRatio}%; margin-bottom:15px; z-index: -9;"></div>`;
	    document.getElementById(containerId).innerHTML = greyBox
	}
        
	count = 0;
	for (let src of picsArray){
	    count = count + 1;
	    let parts = src.split('_');
	    let date = parts[2];
	    let foodName = parts[3];
	    let ingredients = parts[4];
	    
            ingredients = ingredients.split('-');	
	    ingredients = ingredients.join(" &middot ");
		
	    let containerId = 'container'+count;
		
	    let newElement = `\
		<img id=image${count} loading="lazy" src="${src}"> \
		<div class="topleft"> <div class="text">${foodName}<br/>${date}</div> </div> \
		<div class="bottomRight"> <div class="text">${ingredients}</div></div>`;
		
	    document.getElementById(containerId).innerHTML += newElement
	    
	}
	

	</script>
			
</section>
