---
layout: landing
---
<!-- Banner -->
<section id="banner">
	<div class="inner">
		<h2>{{ site.title }}</h2>
		<p>{{ site.description | markdownify }}</p>
	</div>
	<a class="more scrolly">Creations</a>
</section>

<!-- Pics -->

<section id="pics">
	
	{% assign pics = '' %}
	{% assign name_sorted_files = site.static_files | sort: "path" | reverse %}
	{% for file in name_sorted_files %}
	    {% assign fileName = file.path %}
	    {% if fileName contains 'images/IMG' %}
	        {% assign pics = pics | append: fileName %}
	        {% assign pics = pics | append: "|" %}
	    {% endif %}
	{% endfor %}
	
	
	{% assign pics = pics | split: "|" %}
	
	
	<div class="row">
	{% assign numPics = pics.size %}
	{% assign picsPerCol = numPics | divided_by: 3 %}
	{% assign picsPerCol = picsPerCol | plus: 1 %}
		
	{% for c in (0..2) %}	
		<div class="column">
		{% for i in (1..picsPerCol) %}
			{% assign decOne = i | minus: 1 %}
			{% assign timesResult = decOne | times: 3 %}
			{% assign currPicIndex = timesResult | plus: c %}
			{% assign currImage = pics[currPicIndex] %}
			
			{% if currImage %}	
			        {% assign foodInfo = currImage | split: "_" %}
			        {% assign date = foodInfo[1] %}
			        {% assign foodName = foodInfo[2] %}
			        {% assign ingredients = foodInfo[3] %}
			
			        {% assign ingredients = ingredients | split: "." %}
			        {% assign ingredients = ingredients[0] %}
			        {% assign ingredients = ingredients | split: "-" %}

                                {% assign ingredients = ingredients | join: " &middot " %}
			
				<div class="container">
				  <img src="{{ site.baseurl }}{{ currImage }}" loading="lazy">
				  <div class="topleft">
				    <div class="text">{{foodName}}<br/>{{date}}</div>
				  </div>
				  <div class="bottomRight">
				    <div class="text">{{ingredients}}</div>
				  </div>
				</div>
			{% endif %}
		{% endfor %}
		</div>
	{% endfor %}
		
	
	
	</div>

	
	
		
</section>
