---
layout: landing
---
<!-- Banner -->
<section id="banner">
	<div class="inner">
		<h2>{{ site.title }}</h2>
		<p>{{ site.description | markdownify }}</p>
	</div>
	<a class="more scrolly">Creations</a>
</section>

<!-- Pics -->
<section id="pics">

	<div class="row" id="imgRow">
	    <div class="column" id="imgCol1"></div>
	    <div class="column" id="imgCol2"></div>
	    <div class="column" id="imgCol3"></div>
	</div>
	
	{% for image in site.static_files %}
	    {% if image.path contains 'images/IMG' %}
		<img src="{{ site.baseurl }}{{ image.path }}" alt="image" />
	    {% endif %}
	{% endfor %}

	<!-->
	<script>
		var count = 0
		
		var images = ["IMG_20191230_094141__01", "IMG_20191230_094141__01", "IMG_20191230_094141__01", "IMG_20191230_094141__01", "IMG_20191230_094141__01", "IMG_20191230_094141__01", "IMG_20191230_094141__01", "IMG_20191230_094141__01", "IMG_20191230_094141__01"];

		//extract only the name of the file without the extension and save in an array named $find
		for (let src of images){
		    var chosenCol = "imgCol" + (count % 3 + 1);
		    count = count + 1;
		    var imgPath = "images/" + src + ".jpg";
		
		    var img = document.createElement("img");
		    img.src = imgPath;
		    document.getElementById(chosenCol).appendChild(img);
		}

	</script>
	<!-->

</section>
